@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.font-ta {
  font-family: "Mukta Malar", sans-serif;
}

.color-anim {
  transition: 500ms;
  animation: color-change 10s infinite;
}

.text-uppercase {
  text-transform: uppercase;
}

.line {
  width: 6rem;
  height: 0.5rem;
  border-radius: 6px;
  background: linear-gradient(to right, #e24997, #2d2ed4);
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
@keyframes box-shape {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20rem;
  border-bottom: 1px solid #eee;
}
.header--menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.header--menu--item {
  margin-right: 1.5rem;
  font-size: 14px;
  font-weight: 600;
}
.header--menu--item a {
  color: #242424;
}
.header--menu--item a:hover {
  color: #3f43fd;
}
.header--menu--item a.active {
  color: #3f43fd;
}

.background-shapes .box1 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #3f43fd;
  border-radius: 0.35rem;
  z-index: -1;
  animation: box-shape linear 5s infinite;
}
.background-shapes .box2 {
  position: absolute;
  top: 80%;
  left: 60%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #3f43fd;
  border-radius: 0.35rem;
  z-index: -1;
  animation: box-shape linear 5s infinite;
}
.background-shapes .box3 {
  position: absolute;
  top: 30%;
  left: 90%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #3f43fd;
  border-radius: 0.35rem;
  z-index: -1;
  animation: box-shape linear 5s infinite;
}
.background-shapes .dot1 {
  position: absolute;
  top: 77%;
  left: 10%;
  width: 8px;
  height: 8px;
  background-color: #3f43fd;
  border-radius: 50%;
  z-index: -1;
  animation: box-shape linear 5s infinite;
}
.background-shapes .dot2 {
  position: absolute;
  top: 77%;
  left: 90%;
  width: 8px;
  height: 8px;
  background-color: #f4284a;
  border-radius: 50%;
  z-index: -1;
  animation: box-shape linear 5s infinite;
}
.background-shapes .dot3 {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 8px;
  height: 8px;
  background-color: #f4284a;
  border-radius: 50%;
  z-index: -1;
  animation: box-shape linear 5s infinite;
}
.background-shapes .heart1 {
  font-size: 1.5rem;
  position: absolute;
  top: 51%;
  left: 13%;
  z-index: -1;
  color: #f4284a;
  animation: box-shape linear 5s infinite;
}
.background-shapes .heart2 {
  font-size: 1.5rem;
  position: absolute;
  top: 55%;
  right: 8%;
  z-index: -1;
  color: #f4284a;
  animation: box-shape linear 5s infinite;
}
.background-shapes .circle1 {
  position: absolute;
  bottom: 80%;
  left: 21%;
  width: 15px;
  height: 15px;
  border: 3px solid #f4284a;
  border-radius: 50%;
  z-index: -1;
  animation: box-shape linear 5s infinite;
}
.background-shapes .circle2 {
  position: absolute;
  top: 24%;
  left: 52%;
  width: 15px;
  height: 15px;
  border: 3px solid blue;
  border-radius: 50%;
  z-index: -1;
  animation: box-shape linear 5s infinite;
}

.btn, .btn--outline {
  padding: 0.8rem 1.6rem;
  background-color: #3f43fd;
  border-radius: 6px;
  line-height: 1;
  font-size: 0.98rem;
  font-weight: 600;
  border: none;
  outline: none;
  color: #fff;
  display: inline-block;
}
.btn:hover, .btn--outline:hover {
  background-color: #3135e8;
  color: #fff;
}
.btn--outline {
  background-color: #fff;
  border: 2px solid #3f43fd;
  color: #3f43fd;
}
.btn--outline:hover {
  background-color: #3135e8;
  color: #fff;
}

.badge {
  padding: 0px 10px;
  background-color: #3f43fd;
  color: #fff;
  border-radius: 10px;
}

.hero-area {
  padding: 8rem 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-area--content {
  max-width: 34rem;
}
.hero-area--title {
  font-size: 3rem;
  font-weight: 600;
}
.hero-area--desc {
  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 1.8;
  color: gray;
}

.about {
  padding: 8rem 20rem;
  background-color: #3f43fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about--img {
  max-width: 32rem;
}
.about--desc {
  color: #fff;
  margin-left: 5rem;
}
.about--desc--title {
  font-size: 3rem;
  font-weight: 500;
}
.about--desc--content {
  font-size: 1rem;
  line-height: 2;
  color: #cfcfcf;
}
.about--desc--content a:hover {
  text-shadow: 10px 10px 10px black;
}

.roadmap {
  padding: 8rem 20rem;
}
.roadmap--title {
  text-align: center;
}
.roadmap--content {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roadmap--content--item {
  padding: 3rem 1rem;
  text-align: center;
  max-width: 350px;
  position: relative;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 500ms;
  margin-left: 4rem;
}
.roadmap--content--item:hover .roadmap--content--item--img::after {
  animation: rotate-infinite 4000ms linear infinite;
}
.roadmap--content--item--img {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.roadmap--content--item--img img {
  width: 60px;
  margin-top: 25px;
}
.roadmap--content--item--img::after {
  position: absolute;
  top: 0;
  left: -5px;
  content: "";
  width: 100%;
  height: 100%;
  border: 5px dotted;
  border-radius: 50%;
}
.roadmap--content--item--desc {
  margin-top: 2rem;
}
.roadmap--content--item--desc h5 {
  font-size: 2rem;
  font-weight: 600;
}
.roadmap--content--item--desc p {
  color: gray;
  line-height: 1.5;
}
.roadmap--content--item:not(:last-child):before {
  position: absolute;
  top: 35%;
  right: -10%;
  content: "\f054";
  width: 70px;
  height: 70px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
  z-index: 1;
}
.roadmap--content--item:hover:last-child:after {
  transition: 500ms;
  position: absolute;
  top: 35%;
  right: -30%;
  content: "😊 👍";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
  z-index: 1;
  color: yellow;
}
.roadmap--content--item:hover {
  filter: grayscale(0%);
}
.roadmap--content--item:hover:not(:last-child):before {
  right: -32%;
  color: #3f43fd;
  transition: 500ms;
}
.roadmap--content--item:hover h5 {
  color: #3f43fd;
}
.roadmap--content--item:hover .roadmap--content--item--img::after {
  color: #3f43fd;
}

.courses {
  padding: 8rem 20rem;
  background-color: #3f43fd;
}
.courses--title {
  text-align: center;
  margin-bottom: 5rem;
}
.courses--title h2 {
  font-size: 2rem;
  color: #fff;
}
.courses--title p {
  color: rgb(223, 223, 223);
}
.courses--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses--content--item {
  height: 100%;
  max-width: 25rem;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.courses--content--item:hover {
  box-shadow: 2px 2px 20px 5px rgba(27, 27, 27, 0.664);
  transition: 500ms;
}
.courses--content--item a {
  color: rgba(0, 0, 0, 0.938);
}
.courses--content--item--img img {
  width: 25rem;
}
.courses--content--item--text {
  padding: 2rem;
}
.courses--content--item--text p {
  color: gray;
  padding-top: 1rem;
  line-height: 1.5;
}
.courses .courses--content--link {
  margin-top: 4rem;
  text-align: center;
  color: #fff;
}
.courses .courses--content--link a {
  color: #fff;
}
.courses .courses--content--link a:hover {
  text-shadow: 2px 2px 10px #000;
}

/*# sourceMappingURL=style.css.map */
